<div>
    <h2 id="page-heading">
        <span jhiTranslate="prueb0AsociadosApp.pago2.home.title">Pago 2 S</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-pago-2" [routerLink]="['/pago-2/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="prueb0AsociadosApp.pago2.home.createLabel">
            Create a new Pago 2
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'prueb0AsociadosApp.pago2.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="pago2s?.length === 0">
        <span jhiTranslate="prueb0AsociadosApp.pago2.home.notFound">No pago2s found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="pago2s && pago2s.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="prueb0AsociadosApp.pago2.cantidad2">Cantidad 2</span></th>
                    <th scope="col" ><span jhiTranslate="prueb0AsociadosApp.pago2.fecha2">Fecha 2</span></th>
                    <th scope="col" ><span jhiTranslate="prueb0AsociadosApp.pago2.asociado">Asociado</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pago2 of pago2s ;trackBy: trackId">
                    <td><a [routerLink]="['/pago-2', pago2.id, 'view']">{{ pago2.id }}</a></td>
                    <td>{{ pago2.cantidad2 }}</td>
                    <td>{{ pago2.fecha2 | date:'medium' }}</td>
                    <td>
                        <div *ngIf="pago2.asociado">
                            <a [routerLink]="['/asociado', pago2.asociado?.id, 'view']" >{{ pago2.asociado?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/pago-2', pago2.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/pago-2', pago2.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(pago2)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
