<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="asociado">
            <h2><span jhiTranslate="prueb0AsociadosApp.asociado.detail.title">Asociado</span> {{ asociado.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="prueb0AsociadosApp.asociado.nombre">Nombre</span></dt>
                <dd>
                    <span>{{ asociado.nombre }}</span>
                </dd>
                <dt><span jhiTranslate="prueb0AsociadosApp.asociado.apellidos">Apellidos</span></dt>
                <dd>
                    <span>{{ asociado.apellidos }}</span>
                </dd>
                <dt><span jhiTranslate="prueb0AsociadosApp.asociado.email">Email</span></dt>
                <dd>
                    <span>{{ asociado.email }}</span>
                </dd>
                <dt><span jhiTranslate="prueb0AsociadosApp.asociado.acciones">Acciones</span></dt>
                <dd>
                    <span>{{ asociado.acciones }}</span>
                </dd>
                <dt><span jhiTranslate="prueb0AsociadosApp.asociado.bonos">Bonos</span></dt>
                <dd>
                    <span>{{ asociado.bonos }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/asociado', asociado.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
